﻿@model myleasing.web.Models.PropertyViewModel

<div class="form-group">
    <label asp-for="PropertyTypeId" class="control-label"></label>
    <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="form-control"></select>
    <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Neighborhood" class="control-label"></label>
    <input asp-for="Neighborhood" class="form-control" />
    <span asp-validation-for="Neighborhood" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="SquareMeters" class="control-label"></label>
    <input asp-for="SquareMeters" class="form-control" />
    <span asp-validation-for="SquareMeters" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Rooms" class="control-label"></label>
    <input asp-for="Rooms" class="form-control" />
    <span asp-validation-for="Rooms" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Stratum" class="control-label"></label>
    <input asp-for="Stratum" class="form-control" />
    <span asp-validation-for="Stratum" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="HasParkingLot" /> @Html.DisplayNameFor(model => model.HasParkingLot)
        </label>
    </div>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
        </label>
    </div>
</div>

<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <textarea asp-for="Remarks" class="form-control"></textarea>
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>