﻿@model myleasing.web.Data.Entities.Contract

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Owner
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.User.FullNameWithDocument)
        </dd>
        <dt>
            Lessee
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lessee.User.FullNameWithDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.property.PropertyType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.property.PropertyType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.property.Neighborhood)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.property.Neighborhood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.property.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.property.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditContract" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="DetailsProperty" asp-route-id="@Model.property.Id" class="btn btn-success">Back to Property</a>
</div>

