﻿@model myleasing.web.Data.Entities.Property

@{
    ViewData["Title"] = "Details";
}

<h2>Property</h2>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Owner</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.User.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.User.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.User.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.User.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.User.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.PhoneNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Property Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Neighborhood)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Neighborhood)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SquareMeters)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SquareMeters)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Rooms)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Rooms)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HasParkingLot)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HasParkingLot)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsAvailable)
                </dd>
                <dt>
                    Contracts
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Contracts.Count)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="EditProperty" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary">Add Image</a>
    <a asp-action="AddContract" asp-route-id="@Model.Id" class="btn btn-default">Add Contract</a>
    <a asp-action="Details" asp-route-id="@Model.Owner.Id" class="btn btn-success">Back to Owner</a>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <h4>Images</h4>
            @if (Model.PropertyImages.Count == 0)
            {
                <h5>Not images added yet.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PropertyImages.FirstOrDefault().ImageUrl)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PropertyImages)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    @*<a asp-action="DeleteImage" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                                    <button data-id="@item.Id" class="btn btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <h4>Contracts</h4>
            @if (Model.Contracts.Count == 0)
            {
                <h5>Not contracts added yet.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Lessee
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().Remarks)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().StartDateLocal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().EndDateLocal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().IsActive)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contracts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lessee.User.FullNameWithDocument)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDateLocal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDateLocal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    <a asp-action="EditContract" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    <a asp-action="DetailsContract" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                    @*<a asp-action="DeleteContract" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                                    <button data-id="@item.Id" class="btn btn-danger deleteContract" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;
        	var action_to_delete;

        	$('.deleteImage').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
            	action_to_delete = 1;
        	});

        	$('.deleteContract').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
            	action_to_delete = 2;
        	});

        	$("#btnYesDelete").click(function () {
            	if (action_to_delete == 1) {
                	window.location.href = '/Owners/DeleteImage/' + item_to_delete;
            	} else {
                	window.location.href = '/Owners/DeleteContract/' + item_to_delete;
            	}
        	});
    	});
    </script>
}
