﻿@model myleasing.web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}

<h2>Owner</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddProperty" asp-route-id="@Model.Id" class="btn btn-primary">Add Property</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

@if (Model.Properties.Count == 0)
{
    <h5>No Properties added yet.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Neighborhood)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().SquareMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Rooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().IsAvailable)
                </th>
                <th>
                    Images
                </th>
                <th>
                    Contracts
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Properties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Neighborhood)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SquareMeters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyImages.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contracts.Count)
                    </td>
                    <td>
                        <a asp-action="EditProperty" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="DetailsProperty" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        @*<a asp-action="DeleteProperty" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                        <button data-id="@item.Id" class="btn btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;
        	var action_to_delete;

        	$('.deleteImage').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
            	action_to_delete = 1;
        	});

        	//$('.deleteContract').click((e) => {
         //   	item_to_delete = e.currentTarget.dataset.id;
         //   	action_to_delete = 2;
        	//});

        	$("#btnYesDelete").click(function () {            	
                window.location.href = '/Owners/DeleteProperty/' + item_to_delete;            	
        	});
    	});
    </script>
}
