﻿@model IEnumerable<myleasing.web.Data.Entities.Owner>

@{
    ViewData["Title"] = "Index";
}

<h2>Owners</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                Properties
            </th>
            <th>
                Contracs
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.User.Document)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Properties.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Contracts.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;

        	$('.deleteItem').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
        	});

        	$("#btnYesDelete").click(function () {
            	window.location.href = '/Owners/Delete/' + item_to_delete;
        	});
    	});
    </script>
}
