﻿@model IEnumerable<myleasing.web.Data.Entities.PropertyType>

@{
    ViewData["Title"] = "Index";
}

<h2>Property Types</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>*@
                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
        	});
           
            $("#btnYesDelete").click(function () {
                window.location.href = '/PropertyTypes/Delete/' + item_to_delete;
            });
        });
    </script>
}